
body {
    background-image: url(../../portfolioAssets/background-min.jpeg);
    background-size: cover;
}

p {
    margin: auto;
}

body {
    width: 100%;
    height: 100%;
}

.mainBox {
    height: 700px;
    width: 900px;
    margin: 30px auto 0 auto;
    border-radius: 20px;
}

.titleOne {
    display: flex;
    height: 75px;
    width: 600px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size:1.6em;
}

.titleTwo {
    display: flex;
    height: 125px;
    width: 600px;
    font-size: 2.5em;
}

.titleOne, .titleTwo {
    color: #55c605;
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 1px 1px 10px black;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
}


.temperature {
    height: 240px;
    width: 400px;
    color: white;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 3em;
    text-shadow: 1px 1px 10px black;
}


.tempNumber {
    width: 100%;
    height: 100px;
    display: flex;
}

.description {
    width: 100%;
    height: 100px;
    display: flex;
}

.moreInfo {
    display: flex;
    height: 100px;
    width: 900px;
    color: #173705;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
}

.location, .sky, .wind {
    background-color: silver;
    opacity: 0.6;
    border-radius: 20px;
    margin-right: 10px;
    box-shadow: 5px 5px 10px black;
}

.location {
    display: flex;
    height: 100px;
    width:  300px;
    float: left;
}

.sky {
    display: flex;
    height: 100px;
    width:  300px;
    float: left;
}

.wind {
    display: flex;
    height: 100px;
    width:  300px;
    float: right;
}
