
html {
    font-size: 1vw;
    color: black;
}

body {
    box-sizing: border-box;
    font-family: Garamond, "Times New Roman";
    font-size: 1.2rem;
    position: relative;
    height: 100%;
    background: #E9EBEE;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: #c4cdf8;
    width: 100%;
    height: 3vw;
    position: fixed;
    z-index: 1;
}

.links {
    width: 25vw;
    height: 3vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;
    margin-right: 100px;
    animation-name: slideIn;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}

@keyframes slideIn {
    0% {
        margin-right: -400px;
    }

    100% {
        margin-right: 100px;
    }
}

header button {
    width: 7vw;
    height: 2vw;
    font-size: .7rem;
    color: white;
    font-family: Arial;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    outline: none;
    border: none;
    border-radius: 0.2vw;
    line-height: 2vw;
}

#linkedin, #github, #message {
    box-shadow: 0 4px 3px 0 darkgrey;
}

#linkedin:hover, #github:hover, #message:hover {
    box-shadow: 0 8px 6px 0 darkgrey;
}

#linkedin {
    background-color: #0082CA;
}

#linkedin:hover {
    background-color: #0092db;
}

i {
    color: white;
}


#github {
    background-color: #C61118;
}

#github:hover {
    background-color: #ff1118;
}

#message {
    background-color: #d57f53;
}

#message:hover {
    background-color: #ffa357;
}


.container-fluid {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*=================================
Menu Styles
===================================*/
.menuContainer {
    width: auto;
    height: 100%;
    position: fixed;
}

#menuSpy {
    padding-top: 3vw;
    width: 15vw;
    height: 100%;
    background-color: #c4cdf8;
    z-index: -5;
    border-right: 1px solid white;
    color: black;
    font-family: Calibri;
}

.menu h3 {
    height: 2.5vw;
    line-height: 2.5vw;
    font-family: Georgia;
    letter-spacing: .1vw;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid grey;
    background-color: #949dc8;

}


.menu ul {
    text-align: left;
}

.menu li {
    font-weight: 400;
    cursor: pointer;
    border-bottom: 1px solid grey;
}

.menu a {
    text-decoration: none;
    font-size: 0.8rem;
    height: 2vw;
    line-height: 2vw;
    color: black;
    border-left: .4vw solid transparent;
}

.nav li a {
    padding:0 1vw;
}

.nav-pills li a {
    border-radius: 0;
}

.nav-stacked>li+li {
    margin-top: 0;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #949dc8;
    border-left: .4vw solid #c5724f;
    transition: all 0.5s;
}

.menu i {
    color: black;
}

.menu .right  {
    float: right;
    line-height: 2vw;
}

.menu li:hover .right {
    color: #c5724f;
    transition: all 0.5s;
}


/*=================================
Bio Styles
==================================*/

main {
    width: 25vw;
    height: auto;
    background: #a6e2cf;
    margin-left: 19vw;
    box-shadow: 8px 0 60px 6px black;
    border-top: 1px solid transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.main h1, .main h2, .main h3 {
    text-align: center;
    margin: 0 auto;
}

.intro {
    width: auto;
    height: 12vh;
    margin-top: 20vh;
    background-color: #c4cdf8;
    color: black;
    font-family: Garamond;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
}

.intro h1 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
}

.intro h2 {
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.bioGroup {
    width: auto;
    height: auto;
    margin: 0 auto;
}

.bio-text {
    margin: 0 auto;
    width: 85%;
    padding-top: 4%;
    font-size: .9rem;
    line-height: 1.1rem;
    color: black;
    font-weight: 500;
}

.codingSkills {
    width: 95%;
    margin: 4% auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.codingSkills p {
    text-align: center;
    font-weight: 600;
    font-size: 0.7rem;
}

.codingSkills img {
    width: 4vw;
    height: auto;
    margin-bottom: 1vh;
}

.contactContainer {
    width: 80%;
    height: 20%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*=================================
Portfolio Styles
==================================*/

.portfolio {
    margin-top: 8%;
    margin-left: 55vw;
    z-index: -3;
}



.project {
    width: 35vw;
    height: 800px;
    position: relative;
    margin-bottom: 4rem;

}

.project h2 {
    height: 2rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: "Courier New";
}


.portfolio img {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
    z-index: 10;
    position: relative;
    background-color: whitesmoke;
    box-shadow: 2px 0 20px 2px black;
}

.description {
    width:  100%;
    height: 80%;
    /*background: linear-gradient(to right bottom, #FFFAE1, #e3dec5);*/
    background: #c3ffec;
    box-shadow: 2px 0 20px 3px black;
    position: absolute;
    z-index: 1;
    bottom: 0;
}

/*=========================
Media Queries
 ===========================*/

@media screen and (max-width: 1600px) {
    .portfolio {
        margin-left: 52vw;
    }
}

@media screen and (max-width: 1023px) {
    .menuContainer {
        display: none;
    }

    main {
        width: 35vw;
        margin-left: 5vw;
    }

    .intro h1 {
        font-size: 2.5rem;
    }

    .intro h2 {
        font-size: 2rem;
    }

    .bio-text {
        width: 85%;
        font-size: 1.3rem;

    }

    .portfolio {
        margin-left: 48vw;
    }

    .project {
        width: 45vw;
    }
}


@media screen and (max-width: 768px) {
    header {
        height: 12vh;
        z-index: 5;
    }

    .links {
        width: 100%;
        height: 100%;
        margin-right:0;
    }

    header button {
        width: 25vw;
        height: 8vh;
        font-size: 2.5rem;
        border-radius: 10px;
        line-height: 8vh;
    }


    @keyframes slideIn {
        0% {
            margin-right: -400px;
        }

        100% {
            margin-right: 0;
        }
    }

    main {
        width: 90vw;
        margin-left: 5vw;
        position: static;
    }

    .intro {
        height: 10vh;
        margin-top: 15vh;
    }

    .intro h1 {
        font-size: 5rem;
        line-height: 6rem;
    }

    .intro h2 {
        font-size: 3rem;
        line-height: 4rem;
    }

    .bio-text {
        width: 80%;
        font-size: 2.5rem;
        line-height: 3.5rem;
        margin-bottom: 3vh;
    }

    .codingSkills {
        width: 80%;
        padding-top: 0;
    }

    .codingSkills p {
        font-size: 1.5rem;
    }

    .codingSkills img {
        width: 8vw;
    }

    .portfolio {
        margin-left: 5vw;
    }

    .project {
        width: 90vw;
        margin-bottom: 12rem;
    }

    .project h2 {
        height: 6rem;
        font-size: 4rem;
    }

}






