
html {
    font-size: 1vw;
    color: black;
}

body {
    box-sizing: border-box;
    font-family: Garamond, "Times New Roman";
    font-size: 1.2rem;
    position: relative;
    height: 100%;
    background: #E9EBEE;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: lightblue;
    width: 100%;
    height: 4vw;
    position: fixed;
    box-shadow: 0 0 25px 6px black;
}

/*=================================
Menu Styles
===================================*/
.menuContainer {
    width: auto;
    height: 100%;
    position: fixed;
}


#topLeftBlock {
    width: 15vw;
    height: calc(5vw + 50px);
    background-color: lightblue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

#menuSpy {
    width: 15vw;
    height: 100%;
    margin-top: 4.6vw;
    padding-top: 10vh;
    box-shadow: 0 0 25px 6px black;
    background-color: lightblue;
    z-index: -5;
}

.category {
    width: 85%;
    height: auto;
    background-color: whitesmoke;
    margin: 30px auto;
    box-shadow: 1px 0 10px 1px black;
    border: 1px solid black;

}

.menu h3 {
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
}

.menu ul {
    text-align: left;
}

.menu li {
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 1vh;
}

.menu a {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
    color: black;
}

.nav li a {
    padding:0 1vw;
}

.nav-pills li a {
    border-radius: 0;
}

.nav-stacked>li+li {
    margin-top: 0;
}


/*=================================
Bio Styles
==================================*/

main {
    width: 25vw;
    height: auto;
    background: #ffe1b7;
    margin-left: 19vw;
    box-shadow: 8px 0 60px 6px black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 1px solid transparent;
    position: fixed;
    top: 0;
    left: 0;
}

.main h1, .main h2, .main h3 {
    text-align: center;
    margin: 0 auto;
}

.intro {
    width: auto;
    height: 12vh;
    margin-top: 20vh;
    background-color: lightblue;
    color: black;
    font-family: Garamond;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.intro h1 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5rem;
}

.intro h2 {
    font-size: 1.3rem;
    line-height: 1rem;
}

.bioGroup {
    width: auto;
    height: auto;
    margin: 0 auto;
}

.bio-text {
    margin: 0 auto;
    width: 85%;
    height: 40%;
    padding-top: 4%;
    font-size: .9rem;
    color: black;
    font-weight: 500;
}

.codingSkills {
    width: 95%;
    height: 40%;
    padding-top: 10px;
    margin: 2% auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.codingSkills p {
    text-align: center;
    font-weight: 600;
    font-size: 0.7rem;
}

.codingSkills img {
    width: 4vw;
    height: auto;
    margin-bottom: 1vh;
}

.contactContainer {
    width: 80%;
    height: 20%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*=================================
Portfolio Styles
==================================*/

.portfolio {
    margin-top: 8%;
    margin-left: 55vw;
    z-index: -3;
}



.project {
    width: 35vw;
    height: 800px;
    position: relative;
    margin-bottom: 4rem;

}

.project h2 {
    height: 2rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: "Courier New";
}


.portfolio img {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
    z-index: 10;
    position: relative;
    background-color: whitesmoke;
    box-shadow: 2px 0 20px 2px black;
}

.description {
    width:  100%;
    height: 80%;
    /*background: linear-gradient(to right bottom, #FFFAE1, #e3dec5);*/
    background: #ffe1b7;
    box-shadow: 2px 0 20px 3px black;
    position: absolute;
    z-index: 1;
    bottom: 0;
    border: 1px solid black;
}

/*=========================
Media Queries
 ===========================*/

@media screen and (max-width: 1600px) {
    .portfolio {
        margin-left: 52vw;
    }
}

@media screen and (max-width: 1023px) {
    .menuContainer {
        display: none;
    }

    main {
        width: 35vw;
        margin-left: 5vw;
    }

    .intro h1 {
        font-size: 2.5rem;
    }

    .intro h2 {
        font-size: 2rem;
    }

    .bio-text {
        width: 85%;
        font-size: 1.3rem;

    }

    .portfolio {
        margin-left: 48vw;
    }

    .project {
        width: 45vw;
    }
}


@media screen and (max-width: 768px) {
    main {
        width: 90vw;
        margin-left: 5vw;
        position: static;
    }

    .intro {
        height: 10vh;
        margin-top: 6vh;
    }

    .intro h1 {
        font-size: 4rem;
    }

    .intro h2 {
        font-size: 3rem;
    }

    .bio-text {
        width: 80%;
        font-size: 2.5rem;
    }

    .codingSkills {
        width: 80%;
        padding-top: 0;
    }

    .codingSkills p {
        font-size: 1.5rem;
    }

    .codingSkills img {
        width: 8vw;
    }

    .portfolio {
        margin-left: 5vw;
    }

    .project {
        width: 90vw;
        margin-bottom: 12rem;
    }

    .project h2 {
        height: 6rem;
        font-size: 4rem;
    }

}






