nav {
    position: fixed;
    margin-top: 340px;
}

nav p {
    font-family: 'Merriweather', serif;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #E9EBEE;
    border: 1px solid black;
}

li {
    width: 150px;
    height: 35px;
    text-align: center;
    padding-top: 10px;
}

li:nth-child(1), li:nth-child(2) {
    border-bottom: 1px solid black;
}

li a {
    display: block;
    text-decoration: none;
    color: black;
}

li:hover {
    background-color: #3B5998;
}



